@font-face {
  font-family: "ttHoves";
  src: url("../fonts/TT Hoves Pro Trial Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ProDisplay";
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
}
body {
  font-family: ttHoves;
  overflow-x: hidden;
}
body .body-coneiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .body-coneiner .main-conteiner {
  position: relative;
}
body .body-coneiner .main-conteiner nav {
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100vw;
  background-color: #F3F3F3;
}
@media (min-width: 1440px) {
  body .body-coneiner .main-conteiner nav {
    width: 1440px;
  }
}
body .body-coneiner .main-conteiner nav .nav-conteiner {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-around;
}
body .body-coneiner .main-conteiner nav .nav-conteiner .logo .smart-orenge-logo {
  width: 100%;
}
body .body-coneiner .main-conteiner nav .nav-conteiner .logo:hover {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
body .body-coneiner .main-conteiner nav .nav-conteiner .nav-tabs {
  display: none;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}
body .body-coneiner .main-conteiner nav .nav-conteiner .nav-tabs.animate {
  opacity: 1;
  transform: translateY(0);
}
body .body-coneiner .main-conteiner nav .nav-conteiner .nav-tabs a {
  color: #333333;
}
body .body-coneiner .main-conteiner nav .nav-conteiner .nav-tabs a:hover {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
@media (min-width: 768px) {
  body .body-coneiner .main-conteiner nav .nav-conteiner .nav-tabs {
    display: flex;
  }
}
body .body-coneiner .main-conteiner nav .nav-conteiner .main-button-conteiner {
  display: block;
}
body .body-coneiner .main-conteiner nav .nav-conteiner .main-button-conteiner button {
  background: none;
}
body .body-coneiner .main-conteiner nav .nav-conteiner .main-button-conteiner button img {
  width: 50px;
}
body .body-coneiner .main-conteiner nav .nav-conteiner .main-button-conteiner button:hover {
  background-color: #ee8f13;
  border-radius: 10px;
}
@media (min-width: 768px) {
  body .body-coneiner .main-conteiner nav .nav-conteiner .main-button-conteiner {
    display: none;
  }
}
body .body-coneiner .main-conteiner main {
  width: 100vw;
  overflow: hidden;
}
@media (min-width: 1440px) {
  body .body-coneiner .main-conteiner main {
    width: 1440px;
  }
}
body .body-coneiner .main-conteiner main .slider-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #C0D3E1;
  position: relative;
}
body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 0 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 512px) {
  body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner {
    justify-content: space-around;
  }
}
@media (min-width: 995px) {
  body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner {
    position: static;
    height: auto;
    width: auto;
  }
}
@media (min-width: 1100px) {
  body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner {
    padding: 0 0 0 100px;
  }
}
body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .project-naim {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s, transform 1s;
}
body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .project-naim.animate {
  opacity: 1;
  transform: translateY(0);
}
body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .project-naim p:first-child {
  color: #BDBDBD;
  font-weight: lighter;
  font-size: 64px;
}
body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .project-naim p:first-child:hover {
  color: #1414f3;
}
body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .project-naim p:nth-child(2) {
  color: #333333;
  font-weight: bold;
  font-size: 64px;
}
body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .sviper-conteiner {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  row-gap: 100px;
}
body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .sviper-conteiner .errovs {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .sviper-conteiner .errovs .left-arrov, body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .sviper-conteiner .errovs .right-arrov {
  height: 50px;
  background: none;
}
body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .sviper-conteiner .errovs .left-arrov img, body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .sviper-conteiner .errovs .right-arrov img {
  height: 50px;
  width: 50px;
}
body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .sviper-conteiner .errovs .left-arrov:hover, body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .sviper-conteiner .errovs .right-arrov:hover {
  background-color: #F2F2F2;
}
body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .sviper-conteiner .slider-navigation {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
body .body-coneiner .main-conteiner main .slider-section .slider-navidation-conteiner .sviper-conteiner .slider-navigation p {
  color: #4b4848;
  font-size: 24px;
}
body .body-coneiner .main-conteiner main .slider-section .sliders-conteiner {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}
@media (min-width: 995px) {
  body .body-coneiner .main-conteiner main .slider-section .sliders-conteiner {
    width: auto;
  }
}
body .body-coneiner .main-conteiner main .slider-section .sliders-conteiner button {
  height: 70px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #FFFFFF;
  z-index: 3;
}
body .body-coneiner .main-conteiner main .slider-section .sliders-conteiner button .button-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
body .body-coneiner .main-conteiner main .slider-section .sliders-conteiner button .button-link p {
  font-size: 12px;
}
body .body-coneiner .main-conteiner main .slider-section .sliders-conteiner button:hover {
  background-color: rgb(15, 77, 224);
}
body .body-coneiner .main-conteiner main .slider-section .sliders-conteiner .bilding-img {
  display: flex;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 320px;
  height: 530px;
  opacity: 0;
  transform: translateY(350px);
  transition: opacity 1s, transform 1s;
}
body .body-coneiner .main-conteiner main .slider-section .sliders-conteiner .bilding-img.animate {
  opacity: 1;
  transform: translateY(0);
}
body .body-coneiner .main-conteiner main .slider-section .sliders-conteiner .bilding-img .slid {
  height: 430px;
}
body .body-coneiner .main-conteiner main .slider-section .sliders-conteiner .bilding-img .slid img {
  height: 530px;
}
@media (min-width: 512px) {
  body .body-coneiner .main-conteiner main .slider-section .sliders-conteiner .bilding-img {
    height: 830px;
    width: 720px;
  }
  body .body-coneiner .main-conteiner main .slider-section .sliders-conteiner .bilding-img .slid {
    height: 830px;
  }
  body .body-coneiner .main-conteiner main .slider-section .sliders-conteiner .bilding-img .slid img {
    height: 830px;
  }
}
body .body-coneiner .main-conteiner main .about-company {
  display: flex;
  background-color: #FBFBFB;
  justify-content: space-between;
  padding: 0 0;
}
@media (min-width: 1440px) {
  body .body-coneiner .main-conteiner main .about-company {
    padding: 0 100px;
  }
}
body .body-coneiner .main-conteiner main .about-company .swiming-foto-conteiner {
  margin: 30px 0;
  overflow: hidden;
  height: 230px;
}
@media (min-width: 768px) {
  body .body-coneiner .main-conteiner main .about-company .swiming-foto-conteiner {
    height: 630px;
  }
}
@media (min-width: 1024px) {
  body .body-coneiner .main-conteiner main .about-company .swiming-foto-conteiner {
    height: 430px;
  }
}
body .body-coneiner .main-conteiner main .about-company .swiming-foto-conteiner .swiming-foto {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  transform-origin: top left;
}
body .body-coneiner .main-conteiner main .about-company .swiming-foto-conteiner .swiming-foto .image-slider {
  width: 400px;
  min-width: 200px;
  animation: moveSliderUp linear infinite 30s;
  display: none;
}
@keyframes moveSliderUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@media (min-width: 768px) {
  body .body-coneiner .main-conteiner main .about-company .swiming-foto-conteiner .swiming-foto .image-slider {
    display: block;
  }
}
body .body-coneiner .main-conteiner main .about-company .swiming-foto-conteiner .swiming-foto .image-slider .image-container {
  display: flex;
  flex-direction: column;
  animation: movePhotosup linear infinite 30s;
}
@keyframes movePhotosup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
body .body-coneiner .main-conteiner main .about-company .swiming-foto-conteiner .swiming-foto .image-slider .image-container img {
  height: auto;
  border-radius: 10px;
  margin: 20px;
}
body .body-coneiner .main-conteiner main .info-kompany-block {
  padding: 30px;
  width: 720px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  opacity: 0;
  transform: translateX(40%);
  transition: opacity 1s, transform 1s;
}
body .body-coneiner .main-conteiner main .info-kompany-block.animate {
  opacity: 1;
  transform: translateX(0);
}
body .body-coneiner .main-conteiner main .info-kompany-block .info h1 {
  color: #BDBDBD;
  font-size: 34px;
}
@media (min-width: 970px) {
  body .body-coneiner .main-conteiner main .info-kompany-block .info h1 {
    font-size: 64px;
  }
}
body .body-coneiner .main-conteiner main .info-kompany-block .info p {
  font-size: 16px;
  line-height: 1.5;
  padding: 30px 100px 0 0;
}
body .body-coneiner .main-conteiner main .info-kompany-block .read-button button {
  width: 220px;
  height: 70px;
  background-color: white;
}
body .body-coneiner .main-conteiner main .info-kompany-block .read-button button:hover {
  background-color: rgb(15, 77, 224);
}
body .body-coneiner .main-conteiner main .info-kompany-block .read-button button .read {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
body .body-coneiner .main-conteiner main .plans {
  display: flex;
  flex-direction: column;
  padding: 20px;
  opacity: 0;
  transform: translateX(-40%);
  transition: opacity 1s, transform 1s;
}
body .body-coneiner .main-conteiner main .plans.animate {
  opacity: 1;
  transform: translateX(0);
}
body .body-coneiner .main-conteiner main .plans .plans-header p {
  color: #BDBDBD;
  font-size: 34px;
}
@media (min-width: 768px) {
  body .body-coneiner .main-conteiner main .plans .plans-header p {
    font-size: 64px;
  }
}
body .body-coneiner .main-conteiner main .plans .plans-menu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 876px) {
  body .body-coneiner .main-conteiner main .plans .plans-menu {
    flex-direction: row;
  }
}
body .body-coneiner .main-conteiner main .plans .plans-menu .company-aim {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
body .body-coneiner .main-conteiner main .plans .plans-menu .company-aim .decoration {
  display: none;
  color: #F2F2F2;
  font-size: 200px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-family: "ProDisplay";
}
@media (min-width: 540px) {
  body .body-coneiner .main-conteiner main .plans .plans-menu .company-aim .decoration {
    display: block;
  }
}
body .body-coneiner .main-conteiner main .plans .plans-menu .company-aim .aim {
  width: 300px;
}
body .body-coneiner .main-conteiner main .plans .plans-menu .company-aim .aim p {
  color: #333333;
  font-size: 22px;
}
body .body-coneiner .main-conteiner main .company-project {
  padding: 20px;
}
body .body-coneiner .main-conteiner main .company-project .priject-header {
  padding: 0 0 30px 0;
}
body .body-coneiner .main-conteiner main .company-project .priject-header p {
  color: #BDBDBD;
  font-size: 34px;
}
@media (min-width: 768px) {
  body .body-coneiner .main-conteiner main .company-project .priject-header p {
    font-size: 64px;
  }
}
body .body-coneiner .main-conteiner main .company-project .foto-prevu {
  overflow: hidden;
  width: 100%;
}
body .body-coneiner .main-conteiner main .company-project .foto-prevu .foto-prevu-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation: moveSliderDown linear infinite 0s;
}
@keyframes moveSliderDown {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
body .body-coneiner .main-conteiner main .company-project .foto-prevu .foto-prevu-conteiner .line-foto {
  display: flex;
  animation: movePhotos linear infinite 40s;
}
body .body-coneiner .main-conteiner main .company-project .foto-prevu .foto-prevu-conteiner .line-foto img {
  padding: 20px;
}
@keyframes movePhotos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
body .body-coneiner .main-conteiner main .company-project .our-project {
  padding: 30px 0 0 0;
  position: relative;
  height: 75px;
}
body .body-coneiner .main-conteiner main .company-project .our-project button {
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 220px;
  background-color: #333333;
}
body .body-coneiner .main-conteiner main .company-project .our-project button .read {
  display: flex;
  justify-content: space-around;
}
body .body-coneiner .main-conteiner main .company-project .our-project button .read p {
  color: #FFFFFF;
}
body .body-coneiner .main-conteiner main .company-project .our-project button .read img {
  width: 10%;
}
body .body-coneiner .main-conteiner main .company-project .our-project button:hover {
  background-color: #ee8f13;
}
body .body-coneiner .main-conteiner main .call-with-us {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 100px 20px;
}
body .body-coneiner .main-conteiner main .call-with-us .coll-header {
  padding: 0 0 30px 0;
}
body .body-coneiner .main-conteiner main .call-with-us .coll-header p {
  text-align: center;
  color: #BDBDBD;
  font-size: 34px;
}
@media (min-width: 768px) {
  body .body-coneiner .main-conteiner main .call-with-us .coll-header p {
    font-size: 64px;
    text-align: left;
  }
}
body .body-coneiner .main-conteiner main .call-with-us .blick-form {
  display: flex;
  justify-content: space-around;
}
body .body-coneiner .main-conteiner main .call-with-us .blick-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  opacity: 0;
  transform: translateX(40%);
  transition: opacity 1s, transform 1s;
}
body .body-coneiner .main-conteiner main .call-with-us .blick-form form.animate {
  opacity: 1;
  transform: translateX(0);
}
body .body-coneiner .main-conteiner main .call-with-us .blick-form form input {
  height: 45px;
  width: 300px;
  background-color: #F3F3F3;
  padding: 0 20px;
}
@media (min-width: 768px) {
  body .body-coneiner .main-conteiner main .call-with-us .blick-form form input {
    width: 400px;
  }
}
body .body-coneiner .main-conteiner main .call-with-us .blick-form form textarea {
  height: 100px;
  padding: 0 20px;
  background-color: #F3F3F3;
}
body .body-coneiner .main-conteiner main .call-with-us .blick-form .foto-block {
  overflow: hidden;
  display: none;
  opacity: 0;
  transform: translateX(-40%);
  transition: opacity 1s, transform 1s;
}
body .body-coneiner .main-conteiner main .call-with-us .blick-form .foto-block.animate {
  opacity: 1;
  transform: translateX(0);
}
body .body-coneiner .main-conteiner main .call-with-us .blick-form .foto-block img {
  width: auto;
  height: 100%;
}
@media (min-width: 768px) {
  body .body-coneiner .main-conteiner main .call-with-us .blick-form .foto-block {
    display: block;
  }
}
body .body-coneiner .main-conteiner main .call-with-us .send-your-blank {
  text-align: center;
}
body .body-coneiner .main-conteiner main .call-with-us .send-your-blank p {
  padding: 20px;
}
@media (min-width: 768px) {
  body .body-coneiner .main-conteiner main .call-with-us .send-your-blank {
    text-align: left;
  }
}
body .body-coneiner .main-conteiner main .call-with-us .send-blank button {
  width: 200px;
  height: 70px;
  background-color: #2C2C2C;
}
body .body-coneiner .main-conteiner main .call-with-us .send-blank button .read {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
body .body-coneiner .main-conteiner main .call-with-us .send-blank button .read p {
  color: #FFFFFF;
}
body .body-coneiner .main-conteiner main .call-with-us .send-blank button:hover {
  background-color: #ee8f13;
}
body .body-coneiner .futer-conteiner {
  width: 100vw;
  background-color: #2C2C2C;
}
@media (min-width: 1440px) {
  body .body-coneiner .futer-conteiner {
    width: 100%;
  }
}
body .body-coneiner .futer-conteiner footer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .body-coneiner .futer-conteiner footer .futer-head {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1076px) {
  body .body-coneiner .futer-conteiner footer .futer-head {
    flex-direction: row;
    align-items: normal;
  }
}
body .body-coneiner .futer-conteiner footer .futer-head .logo-block {
  display: flex;
  justify-content: center;
}
body .body-coneiner .futer-conteiner footer .futer-head .category {
  display: flex;
  flex-direction: column;
  width: 312px;
}
body .body-coneiner .futer-conteiner footer .futer-head .category .category-button {
  font-size: 30px;
  color: #1414f3;
  background: none;
  text-align: center;
}
@media (min-width: 1076px) {
  body .body-coneiner .futer-conteiner footer .futer-head .category .category-button {
    text-align: left;
  }
}
body .body-coneiner .futer-conteiner footer .futer-head .category .category-list {
  display: none;
  padding: 10px;
}
body .body-coneiner .futer-conteiner footer .futer-head .category .category-list .animated-button {
  padding: 10px 0;
  background: none;
  color: #fff;
  font-size: 20px;
}
body .body-coneiner .futer-conteiner footer .futer-head .category .category-list .animated-button .tabs-futer {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: start;
}
body .body-coneiner .futer-conteiner footer .futer-head .category .category-list.show {
  display: block;
}
body .body-coneiner .futer-conteiner footer .futer-head .category .sosial-ico {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
body .body-coneiner .futer-conteiner footer .futer-head .category .sosial-ico img {
  width: 20px;
}
body .body-coneiner .futer-conteiner footer .futer-bottom p {
  text-align: center;
  color: #C8C8C8;
}