@font-face {
    font-family: 'ttHoves';
    src: url('../fonts/TT Hoves Pro Trial Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'ProDisplay';
    src: url('../fonts/SF-Pro-Display-Regular.otf') format('opentype');
}

body{
    font-family: ttHoves;
    overflow-x: hidden;
    .body-coneiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        .main-conteiner{
            position: relative;
            nav{
                position: sticky;
                top: 0;
                z-index: 5;
                width: 100vw;
                background-color: #F3F3F3;
                @media (min-width: 1440px) {
                    width: 1440px;
                }
                .nav-conteiner {
                    display: flex;
                    align-items: center;
                    height: 100px;
                    justify-content: space-around;
                    .logo {
                        .smart-orenge-logo {
                            width: 100%;
                        }
                        &:hover{
                            border-top: 1px solid black;
                            border-bottom: 1px solid black;
                        }
                    }
                    
                    .nav-tabs {
                        display: none;
                        align-items: center;
                        column-gap: 30px;
                        opacity: 0;
                        transform: translateY(20px);
                        transition: opacity 1s, transform 1s;
                        &.animate {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        a{
                            color: #333333;
                            &:hover{
                                border-top: 1px solid black;
                                border-bottom: 1px solid black;
                            }
                        }
                        @media (min-width: 768px) {
                           
                            display: flex;
                        }
                        
                    }
                    
                    
                    .main-button-conteiner{
                        display: block;
                        button{
                            background: none;
                            img{
                                width: 50px;
                            }
                            &:hover{
                                background-color: #ee8f13;
                                border-radius: 10px;
                            }
                        }
                        
                        
                        @media (min-width: 768px) {
                            display: none;
                        }
                    }
                    
                    
                }
            }
            main{
                width: 100vw;
                @media (min-width: 1440px) {
                    width: 1440px;
                }
                overflow: hidden;
                .slider-section {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    background-color: #C0D3E1;
                    position: relative;
                    .slider-navidation-conteiner {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 0 0 0 0;
                        z-index: 2;
                        height: 100%;
                        width: 100%;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        @media (min-width: 512px) {
                          justify-content: space-around;  
                        }
                        @media (min-width: 995px) {
                            position: static;
                            height: auto;
                            width: auto;
                        }
                        @media (min-width: 1100px) {
                            padding: 0 0 0 100px;
                        }
                        .project-naim {
                            opacity: 0;
                            transform: translateY(-20px);
                            transition: opacity 1s, transform 1s;
                            &.animate {
                                opacity: 1;
                                transform: translateY(0);
                            }
                            p:first-child {
                                color: #BDBDBD;
                                font-weight: lighter;
                                font-size: 64px;
                                &:hover{
                                    color: #1414f3;
                                }
                            }
                            
                            p:nth-child(2) {
                                color: #333333;
                                font-weight: bold;
                                font-size: 64px;
                            }
                        }
                        

                        .sviper-conteiner {
                            display: flex;
                            justify-content: space-around;
                            flex-direction: column;
                            row-gap: 100px;
                            .errovs {
                                display: flex;
                                justify-content: center;
                                column-gap: 40px;
                                .left-arrov,.right-arrov {
                                    height: 50px;
                                    background: none;
                                    img{
                                        height: 50px;
                                        width: 50px;
                                    }
                                    &:hover{
                                        background-color: #F2F2F2;
                                    }
                                }
                            }
                            .slider-navigation {
                                display: flex;
                                justify-content: center;
                                column-gap: 40px;
                                p{
                                    color: #4b4848;
                                    font-size: 24px;
                                }
                                
                            }
                            
                        }
                        
                    }
                    .sliders-conteiner {
                        overflow-x: hidden;
                        overflow-y: hidden;
                        position: relative;
                        width: 100%;
                        @media (min-width: 995px) {
                            width: auto;
                        }
                        button{
                            height: 70px;
                            width: 200px;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            z-index: 1;
                            background-color: #FFFFFF;
                            z-index: 3;
                            .button-link{
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                z-index: 2;
                                p{
                                    font-size: 12px;
                                }
                            }
                            &:hover{
                                background-color: rgb(15, 77, 224);
                            }
                        }
                        .bilding-img {
                            display: flex;
                            justify-content: center;
                            object-fit: cover;
                            width: 320px;
                            height: 530px;
                            
                            opacity: 0;
                            transform: translateY(350px);
                            transition: opacity 1s, transform 1s;
                            &.animate {
                                
                                opacity: 1;
                                transform: translateY(0);
                            }
                            .slid {
                                height: 430px;
                                img{
                                    height: 530px;
                                }
                            }
                            @media (min-width: 512px) {
                                height: 830px;
                                width: 720px;
                                .slid {
                                    height: 830px;
                                    img{
                                        height: 830px;
                                    }
                                }
                            }
                        }
                    }
                }
                .about-company {
                    display: flex;
                    background-color: #FBFBFB;
                    justify-content: space-between;
                    padding: 0 0;
                    @media (min-width: 1440px) {
                        padding: 0 100px;
                    }
                    .swiming-foto-conteiner{
                        margin: 30px 0;
                        overflow: hidden;
                        height: 230px;
                        @media (min-width: 768px) {
                            height: 630px;
                        }
                        @media (min-width: 1024px) {
                            height: 430px;
                        }
                        
                        .swiming-foto {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            height: 100%;
                            transform-origin: top left;

                            .image-slider {
                                width: 400px;
                                min-width: 200px;
                                animation: moveSliderUp linear infinite 30s;
                                display: none;
                                @keyframes moveSliderUp {
                                    0% { transform: translateY(0); }
                                    100% { transform: translateY(100%); }
                                }
                                @media (min-width: 768px) {
                                    display: block;
                                }
                                .image-container {
                                    display: flex;
                                    flex-direction: column;
                                    animation: movePhotosup linear infinite 30s;
                                    @keyframes movePhotosup {
                                        0% { transform: translateY(0); }
                                        100% { transform: translateY(-100%); }
                                    }
                                    img{
                                        height: auto;
                                        border-radius: 10px;
                                        margin: 20px;
                                    }
                                }
                                
                            }
                        }
                    }
                    
                    
                }
                .info-kompany-block {
                    padding: 30px;
                    width: 720px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    
                    opacity: 0;
                    transform: translateX(40%);
                    transition: opacity 1s, transform 1s;
                    
                    &.animate { 
                        opacity: 1;
                        transform: translateX(0);
                    }
                    .info {
                        h1{
                            color: #BDBDBD;
                            font-size: 34px;
                            @media (min-width: 970px) {
                                font-size: 64px;
                            }
                        }
                        p{
                            font-size: 16px;
                            line-height: 1.5;
                            padding: 30px 100px 0 0 ;
                        }
                    }
                    .read-button {
                        button{
                            width: 220px;
                            height: 70px;
                            background-color: white;
                            &:hover{
                                background-color: rgb(15, 77, 224);
                            }
                            .read {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                column-gap: 40px;
                            }
                        }
                    }
                }
                .plans {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;

                    opacity: 0;
                    transform: translateX(-40%);
                    transition: opacity 1s, transform 1s;
                    
                    &.animate { 
                        opacity: 1;
                        transform: translateX(0);
                    }
                    .plans-header {
                        p{
                            color: #BDBDBD;
                            font-size: 34px;
                            @media (min-width: 768px) {
                                font-size: 64px;
                            }
                        }
                    }
                    .plans-menu {
                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;
                        align-items: center;
                        
                        @media (min-width: 876px) {
                            flex-direction: row;
                            
                        }
                        .company-aim {
                            display: flex;
                            align-items: center;
                            column-gap: 30px;
                            
                            .decoration{
                                display: none;
                                color: #F2F2F2;
                                font-size: 200px;
                                font-style: normal;
                                font-weight: 900;
                                line-height: normal;
                                font-family: 'ProDisplay';
                                @media (min-width: 540px) {
                                    
                                    display: block;
                                    
                                }
                            }
                            
                            .aim {
                                width: 300px;
                                
                                p{
                                    color: #333333;
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }
                .company-project {
                    padding: 20px;
                    .priject-header {
                        padding: 0 0 30px 0;
                        p{
                            
                            color: #BDBDBD;
                            font-size: 34px;
                            @media (min-width: 768px) {
                                font-size: 64px;
                            }
                        }
                    }
                    .foto-prevu {
                        overflow: hidden;
                        width: 100%;
                        .foto-prevu-conteiner{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            animation: moveSliderDown linear infinite 0s;
                            
                            @keyframes moveSliderDown {
                                0% { transform: translateX(0); }
                                100% { transform: translateX(100%); }
                            }

                            .line-foto {
                                display: flex;
                                animation: movePhotos linear infinite 40s;
                                
                                img{
                                    padding: 20px;
                                }
                                @keyframes movePhotos {
                                    0% { transform: translateX(0); }
                                    100% { transform: translateX(-100%); }
                                }
                            }
                        }
                    }
                    .our-project {
                        padding:  30px 0 0 0;
                        position: relative;
                        height: 75px;
                        button{
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: 70px;
                            width: 220px;
                            background-color: #333333;
                            .read {
                                display: flex;
                                justify-content: space-around;
                                p{
                                    color: #FFFFFF;
                                }
                                img{
                                    width: 10%;
                                }
                                
                            } 
                            &:hover{
                                background-color: #ee8f13;
                            }
                        }
                        
                    }
                }

                .call-with-us {
                    display: flex;
                    flex-direction: column;
                    padding: 20px 20px 100px 20px ;
                    .coll-header {
                        padding: 0 0 30px 0;
                        p{
                            text-align: center;
                            color: #BDBDBD;
                            font-size: 34px;
                            @media (min-width: 768px) {
                                font-size: 64px;
                                text-align: left
                            }
                            
                        }
                    }
                    .blick-form {
                        display: flex;
                        justify-content: space-around;
                        form{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            row-gap: 20px;

                            opacity: 0;
                            transform: translateX(40%);
                            transition: opacity 1s, transform 1s;
                            
                            &.animate { 
                                opacity: 1;
                                transform: translateX(0);
                            }
                            input{
                                height: 45px;
                                width: 300px;
                                
                                background-color: #F3F3F3;
                                padding: 0 20px;
                                @media (min-width: 768px) {
                                    width: 400px;
                                }
                            }
                            textarea{
                                height: 100px;
                                padding: 0 20px;
                                background-color: #F3F3F3;
                            }
                        }
                        .foto-block {
                            overflow: hidden;
                            display: none;

                            opacity: 0;
                            transform: translateX(-40%);
                            transition: opacity 1s, transform 1s;
                            
                            &.animate { 
                                opacity: 1;
                                transform: translateX(0);
                            }
                            img{
                                width: auto;
                                height: 100%;
                            }
                            @media (min-width: 768px) {
                                display: block;
                            }
                        }

                    }
                    .send-your-blank {
                        text-align: center;
                        p{
                            padding: 20px;
                        }
                        @media (min-width: 768px) {
                            text-align: left;
                        }
                    }
                    .send-blank {
                        
                        button{
                            width: 200px;
                            height: 70px;
                            background-color: #2C2C2C;
                            
                            .read {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                column-gap: 20px;
                                p{
                                    color: #FFFFFF;
                                }
                            }
                            &:hover{
                                background-color: #ee8f13;
                            }
                        }
                    }
                }  
            } 
        }
        .futer-conteiner{
            width: 100vw;
            @media (min-width: 1440px) {
                width: 100%;
            }
            background-color: #2C2C2C;
            footer{
                padding: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .futer-head{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: center;
                    @media (min-width: 1076px) {
                        flex-direction: row;
                        align-items:normal;
                    }
                    .logo-block{
                        display: flex;
                        justify-content: center;
                    }
                    .category {
                        display: flex;
                        flex-direction: column;
                        width: 312px;
                        .category-button {
                            font-size: 30px;
                            color: #1414f3;
                            background: none;
                            text-align: center;
                            @media (min-width: 1076px) {
                                text-align: left;
                            }
                        }
                        .category-list {
                            display: none;
                            padding: 10px;
                            .animated-button {
                                padding: 10px 0;
                                background: none;
                                color: #fff;
                                font-size: 20px;
                                .tabs-futer{
                                    display: flex;
                                    column-gap: 20px;
                                    align-items: start;
                                }
                            }
                        }
                        
                        .category-list.show{
                            display: block;
                        }
                        .sosial-ico{
                            display: flex;
                            column-gap: 40px;
                            img{
                                width: 20px;
                            }
                        }
                        
                    }
                    
                }
                .futer-bottom{

                    p{
                        text-align: center;
                        color: #C8C8C8;
                    }
                }
            }
        }
    }
}




